@import "./bootstrap/customization";

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html, body, #root {
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

/*SIDEBAR*/

.offcanvas.show{
	position: relative;
	width: 280px;
}

/*Responsive*/

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

.offcanvas.show{

    width: auto;

}

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) {  }
